@import "../../../components/main/variables.scss";
@import "../../../components/main/mixin.scss";


a{
	z-index: 7;
}
.header__logo{
	&-img{
		width: 300px;
		cursor: pointer;
		animation-name: logo ;
		animation-duration: 1s;
		animation-iteration-count: 1;
		z-index: 6;
		@keyframes logo {
			0%{
				opacity: 0;
				@include transform(-50px, 0, 0)
			}
			100%{
				opacity: 1;
				@include transform(-0, 0, 0)
			}
		}
	}

	.logo__fill{
		fill: #FFFFFF;
		@include transition(1000ms, 0.215, 0.610, 0.355, 1.000);
	}
	.logo__fill-active{
		fill: $mainColor;
		@include transition(1000ms, 0.215, 0.610, 0.355, 1.000);
		transform: rotate(120deg); 
	}
	.logo__fill__stroke{
		fill: $mainColor;
		@include transition(500ms, 0.175, 0.885, 0.320, 1.275);
	}
	.logo__stroke-active{
		fill: $hoverColor;
		@include transition(500ms, 0.175, 0.885, 0.320, 1.275);
	}
}


@media screen and (max-width: 1100px) {
	.header__logo{
		&-img{
			width: 260px;
		}
	}
}

@media screen and (max-width: 460px) {
	.header__logo{
		&-img{
			width: 200px;
		}
	}
}