@import "../../../main/mixin.scss";
@import "../../../main//variables.scss";
@import "../../../main/main.scss";


.main{
	width: 100%;
	height: 85vh;
	display: flex;
	overflow: hidden;
	.left__main{
		width: 60%;
		height: 100%;
		padding: 100px 200px;
		.main__titel{
			width: 570px;
			@include customFont(0, 64px, 400, 103.98%, 0, 0);
			@include mainTransition();
			@include transform(0, 0, 0);
			animation-name: main__titel ;
			animation-duration: 1s;
			animation-iteration-count: 1;
			opacity: 1;

			@keyframes main__titel {
				0%{
					opacity: 0;
					@include transform(0, 20px, 0);
				}
				100%{
					opacity: 1;
					@include transform(0, 0, 0);
	
				}
		}
			&::after{
				content: ".";
				color: $hoverColor;
				margin-left: 10px;
			}

		}
		.main__desciption{
			width: 550px;
			@include font($desctiptionColor, 20px, 400, 24px, 0.02em, 0);
			@include mainTransition();
			@include transform(0, 0, 0);
			margin-top: 15px;
			animation-name: main__desciption ;
			animation-duration: 1s;
			animation-iteration-count: 1;
			opacity: 1;
		@keyframes main__desciption {
			0%{
				opacity: 0;
				@include transform(0, 50px, 0);
			}
			100%{
				opacity: 1;
				@include transform(0, 0, 0);
			}
		}

		}
		.main__button{
			width: 214px;
			height: 66px;
			@include customFont($defultColor, 18px, 400, 103.98%, 0, 65px);
			@include transition (500ms, 0.175, 0.885, 0.320, 1.275);
			box-shadow: 0px 6px 8px rgba(184, 241, 255, 0.3);
			background: $mainColor;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			z-index: 2;

			&::after{
				content: '';
				width: 45px;
				height: 45px;
				background: $mainColor;
				position: absolute;
				margin-left: 190px;
				margin-bottom: 60px;
				border-radius: 50%;
				background-image: url(../../img/buttonsPhoto.png);
				background-size: cover;
				@include transition (500ms, 0.175, 0.885, 0.320, 1.275);
				transform: rotate(0deg);

			}

		}
		.main__button:hover{
			background: #fff;
			box-shadow: 0px 6px 18px rgba(184, 241, 255, 0.3);
			border-radius: 12px;
			color: $hoverColor;
			border: none;
			margin-top: 65px;
			cursor: pointer;
			@include transition (500ms, 0.175, 0.885, 0.320, 1.275);

			&::after{
				content: '';
				width: 45px;
				height: 45px;
				background: #fff;
				position: absolute;
				margin-left: 190px;
				margin-bottom: 60px;
				border-radius: 50%;
				background-image: url(../../img/buttonsPhoto.png);
				background-size: cover;
				transform: rotate(180deg);
				@include transition (500ms, 0.175, 0.885, 0.320, 1.275);

			}
		}
	}
	.right__main{
		width: 40%;
		height: 100%;
		z-index:0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		padding-right: 60px;

	}
}

@media screen and (max-width: 1200px) {
	.main{
		.left__main{
			width: 60%;
			height: 100%;
			padding: 80px 100px;
			.main__titel{
				width: 570px;
				@include customFont(0, 48px, 400, 103.98%, 0, 0);
			}
			.main__desciption{
				width: 500px;
				@include font($desctiptionColor, 18px, 400, 24px, 0.02em, 0);
			}
			.main__button{
				width: 200px;
				height: 60px;
				@include customFont($defultColor, 18px, 400, 103.98%, 0, 65px);
				border-radius: 10px;

				&::after{
					width: 40px;
					height: 40px;
				}
	
			}
			.main__button:hover{
				border-radius: 12px;
				&::after{
					width: 40px;
					height: 40px;
					margin-left: 190px;
					margin-bottom: 60px;
	
				}
			}
		}
		.right__main{
			width: 40%;
			height: 100%;
			padding-right: 60px;
	
		}
	}

}

@media screen and (max-width: 700px) {
	.main{
		.left__main{
			width: 100%;
			height: 100%;
			padding: 0px 0px;
			@include display-center(center, center);
			flex-direction: column;
			z-index: 2;

			.main__titel{
				width: 570px;
				@include customFont(0, 36px, 400, 103.98%, 0, 0);
				text-align: center;
			}
			.main__desciption{
				width: 500px;
				@include font($desctiptionColor, 18px, 400, 24px, 0.02em, 10px);
				text-align: center;
			}

		}
		.right__main{
			width: 0%;
			height: 0%;
			padding-right: 0px;
	
		}
	}

}

@media screen and (max-width: 520px) {
	.main{
		.left__main{
			.main__desciption{
				width: 400px;
				@include font($desctiptionColor, 16px, 400, 24px, 0.02em, 10px);
				text-align: center;
			}
		}
	}

}

@media screen and (max-width: 440px) {
	.main{
		.left__main{
			.main__desciption{
				width: 95%;
				@include font($desctiptionColor, 16px, 400, 24px, 0.02em, 10px);
				text-align: center;
			}
		}
	}

}
