@import "../../../components/main/variables.scss";

#rick{
	width: 405px;
	height: 681.18px;
	position: relative;
	top: 30px;
	
}
#rick__gradinet{
	animation-name: rick__gradinet;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	@keyframes rick__gradinet {
		0%{
			stop-color: $mainColor;

		}
		50%{
			stop-color: transparent;

		}
		100%{
			stop-color: $mainColor;

		}
		
	}

}
#rick__gradinet2{
	animation-name: rick__gradinet2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	@keyframes rick__gradinet2 {
		0%{
			stop-color: $mainColor;

		}
		50%{
			stop-color: transparent;

		}
		100%{
			stop-color: $mainColor;

		}
		
	}
}

@media screen and (max-width: 1200px) {
	#rick{
		width: 350px;
		height: 600px;
		position: relative;
		top: 30px;
		z-index: 0;
	}
}

@media screen and (max-width: 930px) {
	#rick{
		width: 370px;
		height: 640px;
		position: relative;
		top: 30px;
		z-index: 0;
		opacity: 0.2;
	}
}

@media screen and (max-width: 700px) {
	#rick{
		width: 270px;
		height: 500px;
		position: absolute;
		bottom: -0%;
		left: 28%;
		z-index: -1;
		overflow: hidden;
	}
}

@media screen and (max-width: 520px) {
	#rick{
		width: 270px;
		height: 500px;
		position: absolute;
		bottom: -0%;

		left: 24%;
		z-index: -1;
	}
}


@media screen and (max-width: 440px) {
	#rick{
		width: 240px;
		height: 450px;
		position: absolute;
		top: 20%;
		left: 22%;
		z-index: -1;
	}
}