@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #B8F1FF; }

.characters {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../main/svg/bg.svg);
  background-size: 700px; }
  .characters__filter {
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    margin: 80px 0; }
  .characters__main {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px; }
    .characters__main-cart {
      width: 340px;
      height: 430px;
      background: #FFFFFF;
      box-shadow: 0px 4px 7px rgba(184, 241, 255, 0.2);
      border-radius: 6px;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      margin: 20px;
      padding-bottom: 10px; }
      .characters__main-cart .cart__frame {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px dashed #B8F1FF;
        justify-content: center;
        align-items: center;
        display: flex; }
        .characters__main-cart .cart__frame-img {
          width: 150px;
          height: 150px;
          border-radius: 50%; }
      .characters__main-cart .cart__title {
        width: 90%;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #4F545E;
        margin-top: 20px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center; }
        .characters__main-cart .cart__title::after {
          content: "";
          width: 50px;
          border: 1px solid #4F545E;
          border-radius: 28px;
          transform: rotate(180deg);
          position: relative;
          margin-left: 10px; }
        .characters__main-cart .cart__title::before {
          content: "";
          width: 50px;
          border: 1px solid #4F545E;
          border-radius: 28px;
          transform: rotate(180deg);
          position: relative;
          margin-right: 10px; }
      .characters__main-cart .cart__box {
        width: 100%;
        height: auto;
        padding: 0 15px;
        margin-top: 5px; }
        .characters__main-cart .cart__box-text {
          font-family: 'Montserrat Alternates';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.02em;
          color: #AFFE2D;
          margin-top: 10px; }
          .characters__main-cart .cart__box-text span {
            color: #4F545E; }
  .characters .pagination {
    width: auto;
    height: 60px;
    position: relative;
    bottom: 60px;
    justify-content: center;
    align-items: center;
    display: flex; }

@media screen and (max-width: 1200px) {
  .characters__filter {
    height: auto;
    margin: 70px 0; } }
@media screen and (max-width: 850px) {
  .characters__filter {
    margin: 60px 0; }
  .characters__main {
    padding-bottom: 80px; }
    .characters__main-cart {
      width: 300px;
      height: 400px;
      padding-top: 10px;
      margin: 15px;
      padding-bottom: 10px; }
      .characters__main-cart .cart__frame {
        width: 160px;
        height: 160px; }
        .characters__main-cart .cart__frame-img {
          width: 140px;
          height: 140px; }
      .characters__main-cart .cart__title {
        width: 90%;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #4F545E;
        margin-top: 20px; }
        .characters__main-cart .cart__title::after {
          width: 40px; }
        .characters__main-cart .cart__title::before {
          width: 40px; }
      .characters__main-cart .cart__box-text {
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #AFFE2D;
        margin-top: 10px; } }

/*# sourceMappingURL=Characters.css.map */
